<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"  
	xmlns:jee="http://www.springframework.org/schema/jee" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:util="http://www.springframework.org/schema/util"
 	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
 		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd">
	
	<!-- 配置组件扫描 -->
	<context:component-scan 
	base-package="cn.tedu.ems"/>
	<!-- 
		配置MVC注解扫描　
		让@RequestMapping注解起作用
	 -->
	<mvc:annotation-driven/>
	<!-- 配置视图解析器 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" 
		value="/WEB-INF/"/>
		<property name="suffix"
		value=".jsp"/>
	</bean>






	<!-- 拦截器配置 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<mvc:exclude-mapping path="/toLogin.do"/>
			<mvc:exclude-mapping path="/login.do"/>
			<mvc:exclude-mapping path="/checkcode.do"/>
			<bean class="cn.tedu.ems.interceptors.SessionInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors>
	
	<!-- 配置JdbcTemplate -->
	<!--

		<util:properties id="db" location="classpath:db.properties"/>

	<bean id="ds"
		class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName"
		value="#{drivername}"/>
		<property name="url"
		value="#{url}"/>
		<property name="username"
		value="#{username}"/>
		<property name="password"
		value="#{password}"/>
	</bean>


	<bean id="jt" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="ds"/>
	</bean>
	-->


</beans>